* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #f00;
  overflow: hidden;
}

body {
  position: fixed;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  justify-content: center; 
}
